In [74]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd

In [103]:
def get_properties(page=1):    
    res = requests.get(f'https://www.rightmove.co.uk/house-prices/ng5-6jl.html?page={page}')
    soup = BeautifulSoup(res.text, 'html.parser')
    s = soup.find_all('script')[-2]
    d = json.loads(s.string[s.string.find('{'):])
    df = pd.DataFrame(d['results']['properties'])
    df = df.drop('transactions', axis=1).join(df.transactions.explode()).reset_index(drop=True)
    df = df.drop('transactions', axis=1).join(pd.json_normalize(df.transactions))
    return df

In [104]:
df = pd.concat([get_properties(page+1) for page in range(3)])

In [105]:
df['number'] = df.address.str.split(', ').str[0].astype(int)

In [106]:
df.to_csv('morley_mills_prices.csv', index=False)

In [107]:
df

,address,propertyType,images,hasFloorPlan,location,detailUrl,displayPrice,dateSold,tenure,newBuild,number
0,"8, Morley Mills, Morley Street, Daybrook, Nott...",Flat,{'imageUrl': '/spw/images/placeholder/no-image...,False,"{'lat': 52.99703, 'lng': -1.13713}",https://www.rightmove.co.uk/house-prices/detai...,"£191,000",15 Jul 2024,Leasehold,False,8
1,"8, Morley Mills, Morley Street, Daybrook, Nott...",Flat,{'imageUrl': '/spw/images/placeholder/no-image...,False,"{'lat': 52.99703, 'lng': -1.13713}",https://www.rightmove.co.uk/house-prices/detai...,"£156,000",12 Apr 2019,Leasehold,False,8
2,"8, Morley Mills, Morley Street, Daybrook, Nott...",Flat,{'imageUrl': '/spw/images/placeholder/no-image...,False,"{'lat': 52.99703, 'lng': -1.13713}",https://www.rightmove.co.uk/house-prices/detai...,"£140,000",14 Aug 2015,Leasehold,False,8
3,"8, Morley Mills, Morley Street, Daybrook, Nott...",Flat,{'imageUrl': '/spw/images/placeholder/no-image...,False,"{'lat': 52.99703, 'lng': -1.13713}",https://www.rightmove.co.uk/house-prices/detai...,"£135,730",2 Aug 2013,Leasehold,False,8
4,"8, Morley Mills, Morley Street, Daybrook, Nott...",Flat,{'imageUrl': '/spw/images/placeholder/no-image...,False,"{'lat': 52.99703, 'lng': -1.13713}",https://www.rightmove.co.uk/house-prices/detai...,"£110,000",21 Jun 2001,Leasehold,False,8
...,...,...,...,...,...,...,...,...,...,...,...
18,"47, Morley Mills, Morley Street, Daybrook, Not...",Flat,{'imageUrl': '/spw/images/placeholder/no-image...,False,"{'lat': 52.99703, 'lng': -1.13713}",https://www.rightmove.co.uk/house-prices/detai...,"£80,000",14 Sep 2001,Leasehold,False,47
19,"20, Morley Mills, Morley Street, Daybrook, Not...",Flat,{'imageUrl': '/spw/images/placeholder/no-image...,False,"{'lat': 52.99703, 'lng': -1.13713}",https://www.rightmove.co.uk/house-prices/detai...,"£75,000",29 Jun 2001,Leasehold,True,20
20,"17, Morley Mills, Morley Street, Daybrook, Not...",Flat,{'imageUrl': '/spw/images/placeholder/no-image...,False,"{'lat': 52.99703, 'lng': -1.13713}",https://www.rightmove.co.uk/house-prices/detai...,"£130,000",29 Jun 2001,Leasehold,False,17
21,"29, Morley Mills, Morley Street, Daybrook, Not...",Flat,{'imageUrl': '/spw/images/placeholder/no-image...,False,"{'lat': 52.99703, 'lng': -1.13713}",https://www.rightmove.co.uk/house-prices/detai...,"£120,000",22 Jun 2001,Leasehold,False,29
22,"34, Morley Mills, Morley Street, Daybrook, Not...",Flat,{'imageUrl': '/spw/images/placeholder/no-image...,False,"{'lat': 52.99703, 'lng': -1.13713}",https://www.rightmove.co.uk/house-prices/detai...,"£85,000",19 Jun 2001,Leasehold,False,34